<!DOCTYPE html>
<html>
  <head>
    <title>Google-Drive</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <div id="main">
        <div id="card">
            <div id="top">
                <img src="/images/580b57fcd9996e24bc43c51f.png" alt="">
                <a href="/login/federated/google"><img src="/images/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" alt=""><h4>sign in with google</h4></a>
                <h4>to continue with Google Drive</h4>
            </div>
            <div id="mid">
                <form action="/register" method="post">
                    <input type="email" placeholder="Email or phone" name="email">
                    <input type="text" placeholder="username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <button type="submit">Next</button>
                </form>
                <a href="/login">login account</a>
            </div>
        </div>
        <div id="bottam">
            <a>English (United States)     <i style="margin-left: 25px;" class="ri-arrow-down-s-fill"></i></a>
            <a href="">Help</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
  </body>
</html>
